<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Express Base</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

		{{!-- Bootstrap v4 --}}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
		{{!-- Site styles --}}
		<link href="static/css/app.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}
	</head>
	<body>
		<div id="body">
			{{!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			--}}
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<!-- App scripts -->
		<script src="/static/js/manifest.js"></script>
		<script src="/static/js/vendor.js"></script>
		<script src="/static/js/app.js"></script>
		
		{{{isAdminEditorJS user}}}
	</body>
</html>
